header {
  position: relative;
  z-index: 1;
}

nav {
  height: 120px;
  width: 100vw;
  background-color: #4056a1;
  color: #ffffff;
  padding: 0 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Bungee', cursive;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}


nav .logo {
  font-size: 2em;
}

nav .write-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

nav .write {
  font-family: 'Source Sans 3', sans-serif;
  margin-bottom: 0.15em;
}

nav .write .bold {
  font-weight: bold;
}

nav .fa-angles-down {
  font-size: 1em;
  color:#c8d5ff;
  font-weight: bold;
}


/* Mobile */
@media only screen and (max-width: 1023.9999999px){
  nav {
    background-color: #6689FE;
    background-image: url("https://www.transparenttextures.com/patterns/60-lines.png");
    height: 80px;
  }
  
  nav .logo {
    font-size: 1.3em;
    content: 'Tweeter';
  }
  
  }
  
  nav .fa-angles-down {
    color: #222D54;
    font-size: 0.9em;

}


/* Desktop */
@media only screen and (min-width: 1024px) {
  nav {
    height: 80px
  }
  
  nav .logo {
    font-size: 1.25em;
  }
  
  nav .write-container {
    margin-right: 40px;
  }
  
  nav .write {
    font-size: 0.9em;
  }
  
  nav .fa-angles-down {
  font-size: 0.7em;
}

}