.new-tweet{
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  margin-bottom: 85px;
  height: 300px;
}

.new-tweet h2{
  display:none;
}

.new-tweet form {
  display: flex;
  flex-direction: column;
}


.new-tweet form textarea {
  width: 100%;
  min-height: 60px;
  padding: 10px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  border: none;
  resize: none;
  font-family: "Source Sans 3", sans-serif;
  justify-content: baseline;
  border-bottom: 5px solid #4056a1;
  background-color: #f4f1ec;
  overflow-y: hidden;
}

.new-tweet form textarea:focus {
  outline: none; 
  border-bottom: 5px solid #4056a1; 
}


.new-tweet form textarea::placeholder {
  font-size: 1.5em;
  font-weight: bold;

}

.new-tweet form button {
  float: left;
  background-color: #4056a1;
  color: #fff;
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Bungee', sans-serif;
  font-size: 1em;
}

.new-tweet form output.counter{
  float: right;
  margin-right: 15px;
  font-size: 35px;
  font-family: 'Bungee', sans-serif;
  color: #4056a1;
}

.new-tweet form output.counter.counter-red {
  color: red;
}

.new-tweet label {
  display: none;
}

.error-message {
  color: red;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 10px;
  margin-top: 15px;
  text-align: left;
  border-radius: 5px;
  display: none;
}

.error-message p {
  margin: 0;
}
/* Tablet */
@media only screen and (max-width: 1023.9999999px){
  .new-tweet {
    margin-bottom: 20px;
    height: 225px;
  }
  
  .error-message {
    margin-top: 15px;
  }
}

/* Desktop */
@media only screen and (min-width: 1024px) {
  .new-tweet {
    margin:0;
    height: 220px;
    padding: 0;
    margin-bottom: 20px;
  }
  
}